{% extends 'base.html' %}
{% block container %}

  <main class="container mt-3 mb-5">
    <section>
    <h1 class="h1 text-center mx-auto mt-4 py-5"><strong>Найдите идеального <br>репетитора английского, <br>занимайтесь онлайн</strong></h1>
    <div class="text-center mb-5">
      <div class="btn-group mx-auto mb-0" role="group" aria-label="Basic example">
        {% for key, value in goals.items() %}
        <a href="/goals/{{ key }}" class="btn btn-outline-secondary">{{ value }}</a>
        {% endfor %}
      </div>
    </div>
    <h2 class="h5 text-center mb-5">Наши преподаватели</h2>
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 m-auto">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-3"><img src="../static/pict 1.png" class="img-fluid" alt=""></div>
              <div class="col-9">
                <p class="float-right">Рейтинг: 4.8 Ставка: 1200 / час</p>
                <h2 class="h4">Morris Simmmons</h2>
                <p>Репетитор американского английского языка. Структурированная система обучения. Всем привет! Я предпочитаю называть себя «тренером» английского языка. Мои занятия похожи на тренировки</p>
                <a href="profile.html" class="btn btn-outline-primary btn-sm mr-3 mb-2">Показать информаци и расписание</a>

              </div>
            </div>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-3"><img src="../static/pict 2.png" class="img-fluid" alt=""></div>
              <div class="col-9">
                <p class="float-right">Рейтинг: 4.8 Ставка: 900 / час</p>
                <h2 class="h4">Julie Nguyen</h2>
                <p>Сертифицированный репетитор IELTS. Являюсь сертифицировнным CELTA преподавателем английского языка, проживающим за границей. Опыт работы в сфере преподавания - 9 лет.</p>
                <a href="#" class="btn btn-outline-primary btn-sm mr-3 mb-2">Показать информаци и расписание</a>

              </div>
            </div>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-3"><img src="../static/pict 3.png" class="img-fluid" alt=""></div>
              <div class="col-9">
                <p class="float-right">Рейтинг: 4.8 Ставка: 1300 / час</p>
                <h2 class="h4">Wendy Edwards</h2>
                <p>Молодой и современный репетитор и переводчик с четырёхлетним опытом работы репетиторства Индивидуальные занятия по скайпу, которые ведёт молодой специалист отделения "Перевода </p>
                <a href="#" class="btn btn-outline-primary btn-sm mr-3 mb-2">Показать информаци и расписание</a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <h2 class="text-center mt-5 mb-3">Не нашли своего репетитора?</h2>
    <p class="text-center mb-4">Расскажите, кто вам нужен и мы подберем его сами</p>
    <div class="text-center pb-5">
        <a href="" class="btn btn-primary">Заказать подбор</a>
    </div>

  </main>
{% endblock %}